html {
	height:100%;
	margin:0;
	padding:0;
}
body {
	margin:0;
	padding:0;
	height:100%;
	color:#333;
	font-family: sans-serif;
	background:#f8f8f8;
}

.main {
	position: relative;
	height: 100%;
	min-height: 500px;
	width: 900px;
	margin: auto;
	text-align: center;
	border: #CCC 2px dashed;
}

.search-container {
	position: relative;
	width: 200px;
	padding: 10px;
	border: 5px solid gray;
	margin: auto;
	margin-bottom: 5px;
}

.images-container {
	position: relative;
	width: 75%;
	height: 75%;
	padding: 10px;
	border: 5px solid gray;
	margin: auto;
}